@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, "sans-serif";
    background-color: #08080D;
    color: #fff;
}

/* HEADER AND NAV */
#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}
#nav a {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#about-nav {
    margin: 0 10vh 0 10vh;
}

/* HERO */

#hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(../images/pexels-ivan-samkov-7676394\ 1.webp) no-repeat center center;
    background-size: cover;
    padding-top: 10vh;
}

#hero h1 {
    font-size: 2.8rem;
    margin-left: 8vh;
}

#hero h4 {
    font-weight: 400;
    font-size: 1.2rem;
    width: 50%;
    margin: 2vh 0 5vh 8vh;
}

#hero a {
    color: #fff;
    text-decoration: none;
    margin-left: 8vh;
    background-color: blue;
    padding: 2vh;
    border-radius: 1vh;
    font-weight: 400;
}

/* SLIDE 1 */

#slide-1 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#slide-1 h1 {
    font-size: 2rem;
    margin-bottom: 2vh;
}

#slide-1 h4 {
    width: 60%;
    text-align: center;
    margin-bottom: 4vh;
}

#slide-1 > img {
    border-radius: 2vh;
    width: 60vh;
    height: 40vh; 
}

/* HOW IT WORKS */
#how-it-works {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#how-it-works h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4vh;
}

#h-i-w-info {
    display: flex;
    flex-direction: row;
    padding: 0 8vh;
}

#left-about, #center, #right-about {
    width: 33%;
    height: 50vh;
    border: 1px solid blue;
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#left-about {
    background: url(../images/Startfreetrial.webp) no-repeat center center;
    background-size: cover;
}

#center {
    margin: 0 5vh;
    background: url(../images/Findmusic.webp) no-repeat center center;
    background-size: cover;
}

#right-about {
    background: url(../images/Addtoedit.webp) no-repeat center center;
    background-size: cover;
}

#h-i-w-info p {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 4vh;
}

/* TESTIM0NIALS */

#testimonials {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#testimonials h1 {
    font-size: 2rem;
    margin-bottom: 4vh;
}
#testi-1 {
    width: 80%;
    height: 40vh;
    /* border: 1px solid blue; */
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    background: url(../images/testi-1.webp) no-repeat center center;
    background-size: cover;
}

#testi-1 h1 {
    width: 60%;
    margin-top: 15vh;
    margin-left: 2vh;
}
#testi-1 h4 {
    margin-left: 2vh;
}
#testi-2 {
    width: 80%;
    height: 40vh;
    /* border: 1px solid blue; */
    border-radius: 2vh;
    display: flex;
    flex-direction: column;
    background: url(../images/testi-2.webp) no-repeat center center;
    background-size: cover;
    margin-top: 5vh;
}

#testi-2 h1 {
    width: 60%;
    margin-top: 15vh;
    margin-left: 2vh;
}
#testi-2 h4 {
    margin-left: 2vh;
}

/* FOOTER */

footer {
    text-align: center;
}

footer h4 {
    margin-bottom: 2vh;
}

/* ABOUT US PAGE */

#about-us {
    display: flex;
    padding: 20vh 5vh 0 40vh;
    width: 60%;
}

#about-us h1 {
    font-size: 3rem;
    font-weight: 300;
}

#about-us p {
    font-size: 1rem;
    font-weight: 300;
    width: 70%;
    padding-left: 6vh;
}